
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none !important;
}

.projectLink{
    font-weight: 600;
}
.projectLink:hover, .projectLink:focus, .projectLink:active{
    color: rgb(13, 46, 96) !important;
}

body{
    margin: 0;
    padding: 0;
}


html{
    margin: 0;
    padding: 0;
}


/*full page vertical slider*/
.pages {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.page {
    width: 10px;
    height: 10px;
    border: 2px solid #52616a;
    border-radius: 50%;
    list-style: none;
    background: #c9d6de;
    transition: all 0.3s;
}
.page:not(:last-of-type) {
    margin-bottom: 20px;
}
.page:hover, .page.is-active {
    transform: scale(1.8);
    background: rgb(13, 46, 96) !important;
}

/*content*/
.section {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    padding: 10%;
}


.sectionName{
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(13, 46, 96, .8);
   
}

.btnsMain{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnMain:hover{
    background-color: #d1d1d1 !important;
    color: #121212 !important;
}



.section__heading {
    margin: 0;
}


.summSectionTitle{
    color: rgb(13, 46, 96, .8);
    margin-left: 250px;
}

.summSectionTxt{
    margin-left: 250px;
}

.txt{
    color: rgb(13, 46, 96, .8);
}


.btnLinkedIn{
    background-color: rgb(13, 46, 96, .8) !important; 
    color: #ffffff !important;
}



.projSectionTitle{
    display: flex;
    justify-content: center;
    color: 1px solid rgb(13, 46, 96) !important;
    padding: 10px;
    background-color:rgb(209, 209, 209, .7);
    border-radius: 10px;
}